<div title-toolbar="Zmiana hasła" menu-func="toggleLeft()" user-info="userInfo" logout="logout()" event-edition="event_edition" editions="editions"></div>
<div class="change-password" ng-controller="changepassCtrl">
    <form name="changePassword" layout-wrap flex layout="row">
        <md-input-container flex="100">
            <label>Stare hasło</label>
            <input ng-model="oldPassword" type="password" md-maxlength="32">
        </md-input-container>
	   <md-input-container flex="100">
            <label>Nowe hasło</label>
            <input ng-model="newPassword" type="password" md-maxlength="32" minlength="5" required>
        </md-input-container>
        <md-input-container flex="100">
            <label>Potwierdź nowe hasło</label>
            <input ng-model="confirmNewPassword" type="password" md-maxlength="32" minlength="5" required>
        </md-input-container>
	    <div class="actions-row" layout="row" layout-align="end center">
            <md-button id="saveButton" ng-click="save(changePassword)" >Zapisz</md-button>
        </div>
    </form>
</div>