<md-toolbar class="md-theme-light">
	<h1 class="md-toolbar-tools">Nowy trener</h1>
</md-toolbar>

<md-content layout-padding class="trainers-container" ng-controller="trainerNewCtrl" novalidate>
	<form name="newTrainer" layout-wrap flex layout="row">
		<md-input-container flex="100">
			<label>Imię</label>
			<input name="first_name" ng-model="trainer.first_name" md-maxlength="60" minlength="2" required>
		</md-input-container>

		<md-input-container flex="100">
			<label>Nazwisko</label>
			<input name="last_name" ng-model="trainer.last_name" md-maxlength="60" minlength="2" required>
		</md-input-container>

		<md-input-container flex="100">
			<label>O trenerze</label>
			<textarea name="description" ng-model="trainer.description" md-maxlength="3000"></textarea>
		</md-input-container>

		<md-input-container flex="100">
			<label>Doświadczenie</label>
			<textarea name="experience" ng-model="trainer.experience" md-maxlength="2000"></textarea>
		</md-input-container>

		<div flex="75">
			<md-input-container class="img-upload">
				<label>Zdjęcie</label>
				<input type="file" name="photo" ng-model="trainer.photo" ngf-select ngf-max-size="1MB" ngf-model-invalid="errorFiles" class="file-input" ngf-pattern="'image/*'" ngf-accept="'image/*'">
			</md-input-container>
			<i ng-show="newTrainer.photo.$error.maxSize">Rozmiar pliku: {{errorFiles[0].size / 1000000|number:1}}MB. Maksymalny rozmiar pliku: 1MB</i>
			<md-progress-linear ng-show="progress > 0" class="md-warn" md-mode="determinate" ng-value="progress"></md-progress-linear>
		</div>
		<div flex="25" class="add-img-container">
			<img ng-show="trainer.photo.$valid" ngf-thumbnail="trainer.photo" class="add-img-view"> 
			<md-button ng-click="trainer.photo = null" ng-show="trainer.photo">Usuń</md-button>
		</div>		

		<div class="actions-row" layout="row" layout-align="end center">
			<md-button id="cancel" ng-click="close(newTrainer)">Anuluj</md-button>
			<md-button ng-hide="isEdit" id="save" ng-click="save(newTrainer)">Dodaj</md-button>
			<md-button ng-show="isEdit" id="save" ng-click="saveChanges(newTrainer)">Zapisz zmiany</md-button>
		</div>
		
		
	</form>
</md-content>